@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="https://png.pngtree.com/png-clipart/20231001/original/pngtree-background-illustration-featuring-pc-motherboard-and-microchip-for-artificial-intelligence-and-png-image_12923723.png">
    <h1 class="display-4">Bem vindo, @Model.Nome</h1>
    <p>Meu Site sendo revisado</p>
    <span>Seu Email: @Model.Email</span>
    <span>Seu Número: @Model.NumCel</span>"
</div>
