html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
body {
    margin-bottom: 60px;
    background-image: url('https://th.bing.com/th/id/OIP.qg-5I5gXSxYSweS2VvMOxQHaE8?rs=1&pid=ImgDetMain');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

p, span {
    font-size: 1.5rem;
    color: white;
}